    <h5 class='title'>{{post.title}}</h5>
    <h5 class='title'>Domain: {{post.domain}}</h5>
    <h5>Media Url: {{post.mediaUrl}}</h5>
    <!--video class="share-video" id="share-video" poster="https://thumbs.gfycat.com/GlitteringUncomfortableEchidna-poster.jpg" autoplay="" muted="" loop=""><source id="webmSource" src="https://giant.gfycat.com/GlitteringUncomfortableEchidna.webm" type="video/webm"><source id="mp4Source" src="https://giant.gfycat.com/GlitteringUncomfortableEchidna.mp4" type="video/mp4"><img title="Sorry, your browser doesn't support HTML5 video." src="https://thumbs.gfycat.com/GlitteringUncomfortableEchidna-poster.jpg"></video-->