    <div *ngIf="checkForJpeg(post.mediaUrl)">
    <h5 class='title'>Title: {{post.title}}</h5>
    <img src = "{{imageLink}}">
    </div>
    
    <div *ngIf="checkForGif(post.mediaUrl)">
    <video class="share-video" id="share-video" poster="{{gifThumbLink}}" autostart="false" muted="" loop="">
    <source id="webmSource" src="{{post.mediaUrl}}" type="video/webm">
    <source id="mp4Source" src="{{post.mediaUrl}}" type="video/mp4">
    <img title="Sorry, your browser doesn't support HTML5 video." src="{{gifThumbLink}}"></video>
    </div>