<section class="row">

<div class='left-column' >  
  <h3>Feeds from {{_redditDataUrl}}</h3>
  <h3 (click)="switchFeedToElephants()">Feeds From Baby Elephants</h3>
  <ul class="list-group">
  <li class='reddit list-group-item' *ngFor="let reddit of _reddits$ | async"  (click)="showPost(reddit)"> 
    <post-item *ngIf="reddit.gilded == 0" [post]=reddit></post-item>
  </li>
  </ul>
</div>

<div class="right-column">
<post-details *ngIf="currentPost" [post]=currentPost></post-details>
</div>
</section>

